---
// import logoPNG from "/assets/logo.png";
// import logoSVG from "/assets/logo.svg";

const { activeNav } = Astro.props;
---

<header>
  <nav class="w-full border-b py-3 mb-4 p-4">
    <div
      class="w-full md:w-8/12 mx-auto group flex flex-col md:flex-row items-left md:items-center gap-2"
    >
      <div class="pr-20">
        <a href="/" class="text-green-500">impactdaos.xyz</a>
      </div>

      <div class="hidden md:block group-hover:block w-full">
        <ul
          class="flex flex-col md:flex-row gap-6 justify-between text-md md:text-sm md:text-md font-semibold"
        >
          <li>
            <a href="/case-studies">Case Studies</a>
          </li>
          <li>
            <a href="/daos">Impact DAOs</a>
          </li>
          <li>
            <a href="https://impactdaos.buzzsprout.com/" target="_blank"
              >Podcasts
            </a>
          </li>
          <li>
            <a href="https://twitter.com/impactdaos" target="_blank">Twitter</a>
          </li>
          <li>
            <a href="https://cryptogood.substack.com" target="_blank">Blog</a>
          </li>

          <!-- <li>
        <a href="/about" class={activeNav === "about" ? "active" : ""}>
          About
        </a>
      </li> -->
        </ul>
      </div>
    </div>
  </nav>
</header>
